<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421380553553-sjck2ttu8hmvh7ba3lol089o0pmk4d6d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421380553553-sjck2ttu8hmvh7ba3lol089o0pmk4d6d</string>
	<key>API_KEY</key>
	<string>AIzaSyADMrlggThjBp_DDWz9UeSlFhutUuvM4aM</string>
	<key>GCM_SENDER_ID</key>
	<string>421380553553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.oliveira.Jeni</string>
	<key>PROJECT_ID</key>
	<string>jenitest-228bc</string>
	<key>STORAGE_BUCKET</key>
	<string>jenitest-228bc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421380553553:ios:9eeb879c966c2ec2</string>
	<key>DATABASE_URL</key>
	<string>https://jenitest-228bc.firebaseio.com</string>
</dict>
</plist>